.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
}

.clock {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.watch {
margin-left: 20px;
    margin-top: 10px;
}

.watch strong {

}

.more {
    margin-left: 20px;
}