@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.greetingForm {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: #000000;

}

.inputAndButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.error {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #CC0000;
}

.input {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.input:focus {
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.errorInput {
    box-sizing: border-box;
    border: 1px solid #CC0000;
    border-radius: 5px;
}

.button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;

    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;


    background: #0066CC;
    opacity: 0.5;
    border-radius: 3px;
    margin-left: 10px;
}

.button:focus {
}

.button:active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    background: #0066CC;
    border-radius: 3px;
}

.button:disabled {
}

.text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 9px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}
