.button {
    overflow: hidden;
    padding: 5px 24px;
    border-radius: 3px;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
}

.disabled {
    color: #002e5c;
    background-color: #004d99;
    opacity: 0.5;
}

.secondary {
    color: #0066CC;
    border: 1px solid #0066CC;
    border-radius: 3px;
}

.default {
    background-color: #06c;
}

.red {
    background-color: #cc1439;
}

.default:hover {
    background-color: #0080ff;

}

.red:hover {
    background-color: #ff1a47;
}

.secondary:hover {
    background-color: white;
}


.default:active {
    background-color: darkblue;
}

.secondary:active {
    background-color: white;
}

.red:active {
    background-color: red;
}

.button:disabled {
    cursor: default;
}
